---
date: 2023-05-09
tags: main
permalink: false
class: help
---

<h2 class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</h2>
<p>
    You want to help out and take over a shift?
    Simply sign up for our shift schedule.
</p>

<a class="button" href="https://signup.com/go/dVsMBtS" target="_blank">Take shift</a>
<p class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</p>
