---
date: 2023-05-09
tags: main
permalink: false
class: help
---

<h2 class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</h2>
<p>
    In order for the day to be neat and cheerful, we need helping hands.
</p>
<p>
    You can support us on the day. Whether at the entrance, at the bar or in the kitchen. Afterwards you can be happy to
    have helped to create a wonderful day for everyone, for you and for us!
</p>
<a class="button" href="https://signup.com/go/dVsMBtS" target="_blank">Take shift</a>
<p class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</p>