<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" href="/fonts/open-sans.woff2" as="font" type="font/woff2" crossorigin>
<title>{{ title }}</title>

{% include 'head/seo-meta.njk' %}
{% include 'head/hreflang.njk' %}
<style>
    {{ "assets/styles/main.css" | cssmin | safe }}
</style>
