---
date: 2023-05-09
tags: main
permalink: false
class: help wrapper
---

<h2 class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</h2>
<p>
    Damit der Tag ordentlich und fröhlich stattfinden kann, benötigen wir helfenden Hände.</p>
<p>
    Du kannst uns an dem Tag unterstützen. Ob am Einlass, an der Bar oder in der Küche. Im Anschluss kannst du dich darüber
    freuen, für alle, für dich und uns einen wunderschönen Tag mitgestaltet zu haben!
</p>
<a class="button" href="https://signup.com/go/dVsMBtS">Schicht übernehmen</a>
<p class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</p>