---
date: 2023-05-09
tags: main
permalink: false
class: help
---

<h2 class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</h2>
<p>
    Du willst mithelfen und eine Schicht übernehmen?
    Trag dich dafür ganz einfach in unseren Schichtplan ein.
</p>

<a class="button" href="https://signup.com/go/dVsMBtS">Schicht übernehmen</a>
<p class="help-text">+++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++ Help +++</p>
