---
newsletter:
    url: "#"
    text: "Newsletter abonnieren"
description: "Ein Kleinfestival, das wie aus dem Nichts erscheint!"
layout: index
---

<h1><span>paletti</span> Das Kleinfestival, das wie aus dem Nichts erscheint!</h1>
    <p>Es wird dieses Jahr an verschiedenen grünen Oasen in Braunschweig aus dem Boden schießen. Unter freiem Himmel laden
        wir euch zum Tun und Tanzen ein.
    </p>
    <p>
        Im Programm finden sich Workshops, Talks und Musik wieder. Als Sammelsurium von Menschen, die sich für dieses Projekt
        zusammengefunden haben, stecken wir voller Tatendrang und wollen ein neues Format in die Welt bringen.
    </p>
    <p>
        Sei dabei, denn nur mit dir wird wirklich alles paletti sein!<br>
            Wenn du nichts mehr verpassen möchtest, melde dich für den
            <a href="#newsletter">Newsletter</a>
            an.
    </p>
    <ul>
        <li>Wir zelebrieren die Reduktion!</li>
        <li>Wir sähen Wissen, lassen es sprießen und gedeihen.</li>
        <li>Wir sind respektvoll im Umgang miteinander</li>
        <li>Wir wollen nur nehmen, was wir wirklich brauchen und alles verbrauchen, was wir nehmen.</li>
        <li>Wir feiern mit der Energie der Sonne.</li>
    </ul>