<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/javascript
</IfModule>

# BROWSER CACHING USING CACHE-CONTROL HEADERS
<IfModule mod_headers.c> 
    <FilesMatch "\.(woff|woff2)$">
        Header set Cache-Control: "max-age=31536000, immutable"
    </FilesMatch>

    <FilesMatch "\.(html)$">
        Header set Cache-Control "max-age=300, private"
    </FilesMatch>
</IfModule>

RewriteEngine on


# 1. paletti-festival.de → paletti.info (immer https + www)
RewriteCond %{HTTP_HOST} ^(www\.)?paletti-festival\.de$ [NC]
RewriteRule ^(.*)$ https://www.paletti.info/$1 [R=301,L]

# 2. www + https auf paletti.info erzwingen
RewriteCond %{HTTP_HOST} ^paletti\.info$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.paletti.info/$1 [R=301,L]

# 3. Root → /de/
RewriteRule ^$ /de/ [R=301,L]

# 4. Trailing Slash erzwingen (wenn kein File)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ /$1/ [R=301,L]
