---
permalink: og-image.png
layout: og-image
---
{%- set next = collections.dates | nextDate -%}
{%- if not next -%}
    {%- set next = collections.dates | lastDate -%}
    {%- set isPast = true -%}
{%- endif -%}
{%- if next -%}
<div class="biglietti">
    <div class="row">
        <span class="title">{{ '/assets/images/paletti_icon_inverted.svg' | svgContents | safe}} {{ next.data.title }}</span>
    </div>
    <div class="row">
        <div class="date-time">
            <span class="date">{{ next.data.date | formatDate}}</span>
            <span class="time">
                {{ next.data.date | formatTime}} –
            {{ next.data.until | formatTime}}
            </span>
        </div>
    </div>
    <div class="row">
        <span class="address">
            {% if next.data.place %}
            {{ next.data.place.name }}               
            {% endif %}
        </span>
    </div>
</div>
{%- endif -%}