{% set next = collections.dates | nextDate %}
{% if next %}
<div class="header-teaser">
    <span>Next Paletti:</span>
    <div>{{ next.date | formatDate}}<br>{{ next.data.place.name }}</div>
</div>
{% endif %}
