<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" href="/fonts/open-sans.woff2" as="font" type="font/woff2" crossorigin>
<title>{{ title }}</title>

{% include 'head/seo-meta.njk' %}
{% include 'head/hreflang.njk' %}
{% set css %}
    {% include "styles/fonts.css" %}
    {% include "styles/layout.css" %}
    {% include "styles/biglietti.css" %}
    {% include "styles/program.css" %}
    {% include "styles/help.css" %}
    {% include "styles/header-teaser.css" %}
    {% include "styles/location.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->

<style>
    {{ css | cssmin | safe }}
</style>
