<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" href="/fonts/open-sans-v34-latin-regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/open-sans-v35-latin-600.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/open-sans-v35-latin-700.woff2" as="font" type="font/woff2">
<link rel="preload" href="/fonts/open-sans-v34-latin-800.woff2" as="font" type="font/woff2">
<title>{{ title }}</title>
{% include 'head/seo-meta.njk' %}
{% include 'head/hreflang.njk' %}
{% set css %}
    {% include "styles/fonts.css" %}
    {% include "styles/layout.css" %}
    {% include "styles/biglietti.css" %}
    {% include "styles/program.css" %}
    {% include "styles/help.css" %}
    {% include "styles/header-teaser.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
    {{ css | cssmin | safe }}
</style>
{% set js %}
    {% include "scripts/darkmode.js" %}
{% endset %}
<script type="module">
    {{ js | safe }}
</script>