---
layout: layout
---
<section>
    {{ content | safe }}
</section>
{%- for post in collections.main | reverse -%}
{% if post.data.lang == page.lang %}
    <section>
    {{ post.content | safe}}
    </section>
{% endif %}
{%- endfor -%}