---
layout: base
---
<section class="start wrapper">
    {{ content | safe }}
</section>
<section class="wrapper location">
    {% include 'main/location.njk' %}
</section>
<section class="wrapper">
    {% include 'main/program.njk' %}
</section>
<section class="wrapper help">
    {% include 'main/help.njk' %}
</section>
<section class="wrapper">
    {% include 'main/dates.njk' %}
</section>
<section class="wrapper">
    {% include 'main/newsletter.njk' %}
</section>