---
title: Paletti
---
<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>
    <header>
      <div class="wrapper">
        <nav>
            {% include 'nav.njk' %}
        </nav>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <section>
          {{ content | safe }}
        </section>
        {%- for post in collections.main -%}
        {% if post.data.lang == page.lang %}
          {{ post.content | safe}}
        {% endif %}
        {%- endfor -%}
        <section>
          {% include 'sendinblue.njk' %}
        </section>
      </div>
    </main>
    <footer>
      <div class="wrapper">
        {% include 'footer.njk' %}
      </div>
    </footer>
  </body>
</html>