---
title: Paletti
---
<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>
    <header>
      <div class="wrapper">
        <nav>
            {% include 'nav.njk' %}
        </nav>
      </div>
    </header>
    <main>
      <div class="wrapper">
        {{ content | safe }}
        {% include 'main/newsletter_button.njk' %}
      </div>
    </main>
    <footer>
      <div class="wrapper">
        {% include 'footer.njk' %}
      </div>
    </footer>
  </body>
</html>