<html>
    <head>
        {% set css %}
            {% include "styles/fonts.css" %}
            {% include "styles/layout.css" %}
            {% include "styles/biglietti.css" %}
        {% endset %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
            {{ css | cssmin | safe }}
            html {
                font-size: 160%;
                padding: 5px;
            }
            body {
                width: 300px;
                height: 300px;
                font-size: 500%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color);
            }
            .biglietti {
                border-width: 4px!important;
                font-weight: bold;
                flex-grow: 1;
                margin: 5px;
                font-size: 1rem;
                max-width: 100%;
                background-color: var(--bg-color);
            }
            .biglietti .title {
                font-weight: bolder;
                padding-right: 0;
                font-size: 1.11rem;
            }
            .biglietti .row {
                border-bottom-width: 4!important;
            }
            .biglietti .date,
            .biglietti .time {
                font-size: 1.1rem;
            }
            .biglietti .address {
                font-size: 1rem;
            }
            .biglietti::before {
                --size: 30px!important;
                transform: translate(-4.5px)!important;
            }
        </style>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>