.biglietti-list {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    overflow-x: auto;
}

.biglietti {
    border: 1px solid currentcolor;
    border-radius: 3px;
    flex-shrink: 0;
    position: relative;
    font-size: 0.95rem;
}

.biglietti::before {
    --size: 10px;
    content: "";
    height: 100%;
    width: var(--size);
    transform: translateX(-1.5px);
    display: block;
    position: absolute;
    background: radial-gradient(circle at 0, var(--bg-color) 30%, currentcolor 30%, currentcolor 40%, transparent 40%);
    background-size: var(--size) calc(var(--size) * 1.5);
}

.biglietti .row {
    display: flex;
    border-bottom: 1px solid currentcolor;
    justify-content: space-between;
}

.biglietti .row:last-child {
    border-bottom: 0;
}

.biglietti .row > span,
.biglietti .row > div {
    padding: 0.25em 0.5em;
    border-left: 1px solid currentcolor;
}

.biglietti .row > span:first-child,
.biglietti .row > div:first-child {
    border-left: 0;
    padding-left: 0.75em;
}

.biglietti .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.biglietti .title svg {
    height: 80%
}

.biglietti .date-time {
    display: flex;
    flex-direction: column;
}

.biglietti .text {
    text-align: center;
}

.biglietti .address {
    font-size: 0.8em;
}