/* open-sans-regular - latin */
@font-face {
    font-display: optional;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans.woff2') format('woff2');
}

/* open-sans-600 - latin */
@font-face {
    font-display: optional;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/open-sans.woff2') format('woff2');
}
  
  /* open-sans-700 - latin */
  @font-face {
    font-display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans.woff2') format('woff2');
}
  

/* open-sans-800 - latin */
@font-face {
    font-display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/open-sans.woff2') format('woff2');
}

.headline, h1 {
    font-size: 1.6rem;
    font-weight: 800;
}

.sub-headline, .intro-text, h2 {
    font-size: 1.6rem;
    font-weight: 800;
}

h1, h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--headline-color);
}

html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}