@import '_sib-styles.css';

.sib-form {
    background: unset!important;
    padding: 0;
}

.sib-form * {
    font-family: inherit!important;
    font-size: inherit!important;
    color: inherit!important;
}

#sib-container {
    background: unset!important;
    border-color: currentColor!important;
    padding: 0.5rem 1rem!important;
}

.sib-form-block,
.sib-form__declaration {
    padding: 0;
}

.sib-form .entry__field {
    background: unset;
    border: 0;
    border-radius: 0;
    margin: 0;
}

.sib-form .entry__field:focus-within {
    box-shadow: 0 0 0 1px currentColor;
}

.sib-form .input {
    border: 1px solid currentcolor;
    border-radius: 0;
}

.sib-form .input::placeholder {
    color: inherit;
}

.sib-form .input_replaced {
    opacity: 1;
    z-index: 0;
    position: static;
    accent-color: currentcolor;
    margin: 0;
}

.sib-form .checkbox {
    display: none;
}

.sib-form .entry__choice {
    text-indent: 0;
    padding-left: 0;
}

#sib-form .entry__choice label {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

.entry__error {
    padding: 0.5em;
    font-size: 0.8rem!important;
    border-radius: 0!important;
    border: 1px solid currentColor;
}

.entry__error:empty {
    padding: 0;
    border: 0;
}

.sib-form-block__button {
    background: unset!important;
    border: 2px solid currentColor!important;
    border-radius: 0!important;
    font-size: 0.8rem!important;
    padding: .6em 1em!important;
}

/* Fix for Safari */ 
.sib-form .icon__SVG {
    display: none;
}

.sib-form .svgIcon-sphere {
    filter: brightness(0) var(--svg-filter);
}

.sib-form__declaration p {
    font-size: 0.8rem!important;
}

.sib-form .clickable_link {
    text-decoration: underline;
}
